@model AssiDay02MVC.ViewModel.StudentDeptVM

@{
    ViewBag.Title = "Edit Student";
}

<div class="container mt-4">
    <h2>Edit Student</h2>
    <hr />

    <form asp-action="Edit" method="post">
        @Html.AntiForgeryToken()
        @Html.Partial("_StudentForm", Model)

        <button type="submit" class="btn btn-warning">Update</button>
        <a asp-action="ShowAll" class="btn btn-secondary">Cancel</a>

    </form>
</div>