@{
    ViewData["Title"] = "Department Index";
}

<h2>Department Index</h2>

<a asp-action="ShowAll" class="btn btn-primary">Show All Departments</a>
<a asp-action="Create" class="btn btn-success">Add New Department</a>