@model AssiDay02MVC.ViewModel.CourseDeptVM

@{
    ViewData["Title"] = "Add Course";
}

<h2>Add Course</h2>
<hr />

<form asp-action="Add" method="post">
    @Html.AntiForgeryToken()
    @Html.Partial("_CourseForm", Model)

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="ShowAll" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
