@model AssiDay02MVC.ViewModel.CourseDeptVM

@{
    ViewData["Title"] = "Edit Course";
}

<h2>Edit Course</h2>
<hr />

<form asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    @Html.Partial("_CourseForm", Model)

    <button type="submit" class="btn btn-warning">Update</button>
    <a asp-action="ShowAll" class="btn btn-secondary">Cancel</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
